.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

//.app-component {
//  height: 100%;
//}

.app-component-content {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
