@use '@angular/material' as mat;
@use "../_theme-colors.scss" as theme-colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "ol/ol.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

html {
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      theme-type: dark
    ),
    typography: (Montserrat, Roboto, "Helvetica Neue", sans-serif),
    density: -2
  ));
}
