<mat-card class="about-me-card">
  <mat-card-header>
    <mat-card-title>Hej där!</mat-card-title>
  </mat-card-header>

  <mat-card-content class="typography">
    <p>
      Jag är glad att du har hittat till min lilla
      hörna på internet. Jag har alltid drivits av en nyfikenhet och
      lust att utforska—oavsett om det handlar om nya kreativa projekt,
      att lära mig något nytt eller bara hitta inspiration i vardagen.
    </p>
    <p>
      Till vardags jobbar jag med att utveckla mjukvarusystem. När jag
      inte gör det kan du oftast hitta mig plocka svamp, träna på gymmet
      eller åka längdskidor.
    </p>
    <p>
      Jag startade den här sidan för att dela erfarenheter, idéer och
      kreativitet. Jag tror att vi växer snabbare tillsammans, så jag
      hoppas att du hittar något här som inspirerar dig eller väcker
      en diskussion.
    </p>
    <p>
      Tack för att du kikade förbi—utforska gärna och hör av dig via
      mitt GitHub-konto. Jag ser fram emot att dela min resa med dig.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onContactClick()">
      Kontakta mig
    </button>
  </mat-card-actions>
</mat-card>
